.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  padding: 8px 14px;
  background: purple;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button:hover:not(disabled) {
  background: rgb(46, 125, 49);
  transform: translateY(-2px);
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
  transform: none;
}

.active {
  background: purple;
  color: #fff;
  font-weight: 600;
  transform: scale(1.05);
}
